@model SYS.Models.FlightType

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FlightType</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nr_Locuri)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nr_Locuri)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Plecare)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Plecare)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ora_plecare)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ora_plecare)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sosire)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sosire)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ora_sosire)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ora_sosire)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.airplane)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.airplane.AirplaneID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.FLightTypeID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
